<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> --}}
  <link rel="stylesheet" href="/images/layout.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>NUTRICION</title>
</head>

<body>
  <header>
    <div class="holder">
      <img src="/images/logo.png" width="100" alt="Nutricion" class="logo">
      <h1>NUTRICION</h1>
    </div>
  </header>
  <main class="holder">
      {{{body}}}
  </main>
  <footer class="hola">
    <p class="hola"> Diseñado por Martin Elias</p>
  </footer>
</body>

</html>