<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheets" href="/layout.css" >
  <link rel="stylesheets" href="stylesheets/style.css">
  <title>NUTRICION</title>
</head>

<body>
  <header>
    <div class="holder">
      <img src="./../../public/images/logo.png" width="100" alt="Nutricion" class="logo">
      <h1>NUTRICION</h1>
    </div>
  </header>
  <main class="holder">
      {{{body}}}
  </main>
  <footer>
    <p> Diseñado por Martin Elias</p>
  </footer>
</body>

</html>