<h1>LOGIN</h1>
<div>
  <form action="/admin/login" method="post">
  <input type="text" id="inputUser" placeholder="Usuario" name="usuario">
  <input type="password" id="inputPassword" placeholder="Contraseña" name="password">
  <button type="submit">Ingresar</button>
  </form>
  {{#if error}}
  <p>Usuario y/o contraseña incorrectos.</p>
  {{/if}}
</div>